<div id="main">
    <app-header />
    <div id="imageFont">
        <div id="title">
            <p>GameEvent</p>
        </div>
        <div id="whatIs">
            <p>GameOrganize es una appweb dedicada a la creación de eventos en diversos videojuegos de mutijugador y de
                manera local, siendo que no ha existido antes un espacio centrado en llevar el estatus de una partida
                como tal sino que solo existen sitios donde se publican los servidores donde se realizan las partidas.
            </p>
        </div>
        <div id="title">
            <p>¿Qué hacemos diferente?</p>
        </div>
        <div id="whatIs">
            <p>
                Tenemos un manejo de las partidas organizado para que la cantidad de jugadores sea establecida y que hay
                un control a travez del estatus que se pone al antes y despues de iniciar el evento
            </p>
        </div>
    </div>
    <div id="titleEventPasts">
        <div id="events">
            <img src="thumb-150-365144.jpg" alt="imageTitle" id="image">
            <p id="titleEventPast">
                Eventos recientes
            </p>
        </div>
    </div>
    <div id="eventPasts">
        <app-card-event-past *ngFor="let event of eventPasts" [eventPast]="event" class="cardEvent" />
    </div>
</div>