<div id="main">
    <app-header-user />
    <div id="whoContainer">
        <div id="who">
            <div id="imageContainer">
                <div id="image">
                    <img src="Icon.jpg">
                </div>
            </div>
            <div id="info">
                <p>
                    Somos una app web desarrollada por <a style="color: red;">kull</a> un estudiante de la universidad
                    polítecnica de chiapas, mi github <a href="https://github.com">a</a>
                </p>
            </div>
        </div>
    </div>

</div>